body {
    margin:0;
    padding:0;
    font-family: verdana;
}
body:before {
        content: "";
        position: fixed;
        height: 100%; width: 100%;
        background: url('house.jpg');
        background-size: cover; 
        z-index: -1;
        -webkit-opacity :0.5;
    }



/****************************************************/
/*DEBUT HEADER1-2*/
/****************************************************/

.connexion{
    float: right;
    text-align: right;
    padding: 3%;
    font-size: 15px;
}

h1{
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

header
{
	background-color: rgba(0, 0, 0, 0.5);
}

#header2{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 100px;
	width: 100%;
	top:0px;
	position: fixed;
}

#conteneur{
	display: flex;
	justify-content: space-between;
}

#conteneur2{
	display: flex;
	justify-content: start;
}

.logo{
	float: left;
	height: 7.2vw;
	width: 8vw;
}

.nom h1{
    float: left;
	vertical-align: middle;
    width: 40%;
    height: 75px;
    border: none;
    color: white; 
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	margin-right: 50px;
	margin-bottom: 30px; 
}

nav a
{
	color: white;
	font-weight: bold;
}

nav a:hover
{
	color: #FF3A40;
}


/****************************************************/
/*FIN HEADER2*/
/****************************************************/


/************************************************/
/*ACCUEIL*/
/************************************************/
.box
{
	padding-top: 200px;
}

#box_connexion
{
	border: 2px solid #383176;
	width: 30%;
	padding: 5%;
	margin: auto;
	border-radius: 10px;
	background-color: #F0F3F4;
}

#box_connexion h1
{
	text-align: center;
	font-size: 30px;
	color: #383176;
}

.formulaire_connexion
{
	color: #383176;
}

.inscription
{
	text-align: center;
	color: #FF3A40;
}
/************************************************/
/*FIN ACCUEIL*/
/************************************************/






/************************************************/
/*DESCRIPTION QUI SOMMES NOUS*/
/************************************************/
h1{
	font-size: 40px;
	font-weight: lighter;
	color: black;
	line-height: 30pt;
}

.banniere_description
{
	text-align: center;
	color: #383176;
	font-size: 30px;
	padding-top: 200px;
}

.banniere_description a
{
	text-decoration: none;
	color: #383176;
	border-color: #383176;
}

.banniere_description a:hover
{
	color: #FF3A40;
	background-color: white;
	border-color: white;
}

.acheter{
	margin: auto;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 20px;
}

#contenu{
	display: flex;
	flex-direction: column;
	background-color: #241C6C;
	margin-top: 10%;
}

#sous-contenu{
	display: flex;
	justify-content: space-around;
	padding-top: 5%;
}

#sous-contenu:nth-child(2){
	padding-bottom: 5%;
}

.logo2{
	height: 20vw;
	width: 20vw;
}

.photo1{
	border-radius: 20px;
	height: 20vw;
	width: 20vw;
}

.cyan{
	color: #76D7C4;
}

.description{
	width: 35%;
	padding-left: 7%;
	padding-right: 7%; 
	padding-bottom: 5%;
	font-size: 16px;
	color: white;
	text-align: justify;
	line-height: 20pt;
	font-weight: lighter;
}


.description:nth-child(2){
	align-self: flex-end;
}

.paysage_urbain
{
	background: url(paysage_urbain.jpg) no-repeat;
	height: 300px;
	position: relative;
	margin-top: -5%;
}

.paysage_description{
	color: white;
	font-size: 25px;
	text-align: center;
	padding-top: 70px;
	font-style: italic;
	font-family: courier;
}

#contenu2{
	display: flex;
	justify-content: space-around;
	background-color: #1B4F72;
	align-items: center;
	padding: 5%;
}

.description2{
	width: 30%;
	font-size: 18px;
	color: white;
	text-align: justify;
	line-height: 20pt;
}

.photo2{
	border-radius: 20px;
	height: 400px;
	width: 300px;
}

@media screen and (max-width: 1024px)
{
	.description
	{
		width: auto;
		margin: auto;
		text-align: center;
	}

	.logo2
	{
		display: none;
	}

	.photo1
	{
		display: none;
	}

	.paysage_urbain
	{
		display: none;
	}

	.photo2
	{
		display: none;
	}

	.description2
	{
		width: auto;
		margin: auto;
		text-align: center;
	}


}

/************************************************/
/*FIN DESCRIPTION QUI SOMMES NOUS*/
/************************************************/


/************************************************/
/*DESCRIPTION CEMAC*/
/************************************************/

#contenu3{
	display: flex;
	justify-content: center;
	margin-bottom: 10%;
}

.description3{
	width: 75%;
	text-align: center;
	color: #383176; /*Bleu*/
	font-size: 20px;
	margin-top: 200px;
}

.description3 h1
{
	color: #FF5151;
}

.equiper{
	color: #383176;
	font-size: 20px;
	border: 2px solid #383176; /*bleu*/
	border-radius: 5px;
	padding: 20px;
}

.equiper:hover
{
	border-color: white;
	background-color: white;
	color: #FF3A40; 				/*Saumon*/
}

/*Description 2*/
#contenu4{
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
	background-color: #383176;
	margin-bottom: 10%;
}

.titre{
	color: #FF3A40;
	text-align: center;
}

.description4{
	color: white;
	width: 20%;
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: justify;
	line-height: 20pt;
	font-weight: lighter;
}

@media screen and (max-width: 1024px)
{
	#contenu4{
		flex-direction: column;
	}

	.description4
	{
		width: auto;
		margin: auto;
		text-align: center;
	}
}

/************************************************/
/*FIN DESCRIPTION CEMAC*/
/************************************************/


/************************************************/
/*MON DOMICILE*/
/************************************************/
#domicile
{
	padding-top: 200px;
}

#piece
{
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 10%;
	padding: 2.5%;
	border-radius: 10px;
}

#ligne
{
	display: flex;
	justify-content: space-between;
	padding-right: 50px;
	margin: auto;
	margin-bottom: 50px;
}

#capteur
{

	padding-right: 100px;	
}

#capteur h3
{
	text-align: center;
	vertical-align: middle;
}

#capteur ul
{
	align-content: center;
	text-align: center;
}

.description_capteur
{
	font-size: 20px;
}

.temperature
{
	height: 40px;
	width: 40px;
}

.luminosite
{
	height: 40px;
	width: 40px;
}

.humidite
{
	height: 40px;
	width: 40px;
}
/************************************************/
/*FIN MON DOMICILE*/
/************************************************/


/************************************************/
/*Footer*/
/************************************************/
#conteneurFooter{
	display: flex;
	justify-content: space-between;
	background-color: #566573;
	margin-top: 20%;
}

.copyright{
	font-size: 15px;
	margin:auto;

}

.contact{
	font-size: 15px;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	padding-right: 25%;
}


/************************************************/
/*FIN FOOTER*/
/************************************************/
