/*********************************/
/************Mon Profil***********/
/*********************************/

body
{
	background-color: black;
	color: white;

}


.important
{
	color: blue;
	font-size: ;
}


.profil 
{
	font-size: 24px;  /*taille*/
	text-align: center;  /* alignement au centre, left à gauche, right à droite*/
	/*text-align: justify; que le texte prenne toute la largeur possible sans laisser d'espace blanc à la fin des lignes*/
	font-family: "Comic Sans MS" ;/*choisir la police*/

}


.personnelle 
{
	text-align: center;
	/*font-style: italic;  permet de mettre en italique*/
	font-weight: bold; /*permet de mettre en gras*/

	/*text-decoration: line-through;  il barre la phrase */
	/*text-decoration: underline;     il souligne */
	/*text-decoration: overline;      il permet de mettre d'une ligne au dessus*/





}


.autoriser 
{
	text-align: center;

}


.presentation 

{
	text-align: left;

}



